.modal-container {

    .modal-content-custom {
        border-radius: 5px;
        border       : none;

        .modal-title {
            border-top-left-radius : 5px;
            border-top-right-radius: 5px;

            button {
                background-color: transparent;
                border          : none;
                font-size       : 30px;
                color           : white;
            }
        }


        .modal-user-body {
            display  : flex;
            gap      : 10px;
            flex-wrap: wrap;

            .input-container {
                display       : flex;
                flex-direction: column;
                width         : 49%;

                &.max-width-input {
                    width: 100%;
                }

                input {
                    border-radius: 30px;
                    height       : 30px;
                }
            }
        }

        .choose-role {
            min-width: 200px;
        }
    }

}