@import "../../styles/common.scss";

.filter-item-box {
    display       : flex;
    flex-direction: column;
    @extend %type-filter-box-container;

    .filter-item-header {
        @extend %type-filter-box-header;

        .filter-item-title {
            @extend %type-filter-box-title;
        }

        .show-hide-icon {
            max-width      : 2rem;
            min-width      : 2rem;
            height         : 2rem;
            border-radius  : 50%;
            display        : flex;
            align-items    : center;
            justify-content: center;
            padding-top    : 2px;
            border         : none;
            line-height    : 2rem;
            z-index        : 8;


            &:hover {
                background-color: #e0e0e0;
                cursor          : pointer;
            }

            i {
                color    : #666;
                font-size: 13px;
            }
        }

    }

    .filter-item-content {
        padding-left: 2rem;
    }
}