@import "../../styles/common.scss";

.table-box {
    display       : flex;
    flex-direction: column;
    max-width     : 100%;

    .table-header {}

    .table-content {
        max-width: 100%;
    }
}